<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>HOLIDAY_ID</th>
        <th>DESCRIPTION</th>
        <th>HOLIDAY_DATE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let holiday of holidays">
        <td>{{ holiday.HOLIDAY_ID }}</td>
        <td>{{ holiday.DESCRIPTION }}</td>
        <td>{{ holiday.HOLIDAY_DATE }}</td>
      </tr>
    </tbody>
    </table>