<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-navigation [localId]=locale></app-navigation>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

