<!-- A vertical navbar -->
<nav class="navbar bg-dark text-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let navItem of menu">
        <a class="nav-link" href="{{navItem.LINK}}" i18n>{{navItem.EN_DESCRIPTION}}</a>
      </li>
    </ul>
  </nav>